@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {

    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    font-family: 'Comfortaa', sans-serif;
    overflow-x: hidden;

}

main {

    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 80px;

}

.btn {

    max-width: fit-content;
    padding: 8px 15px;
    background-color: #27A127;
    border: 1px solid #27A127;
    border-radius: 50px;
    color: #F5F5F5;
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
    cursor: pointer;

}

.btn:hover {

    box-shadow: 0px 0px 20px rgba(39, 161, 39, 0.8);

}

.btn:active {

    box-shadow: none;
    background-color: #155815;

}

footer {

    padding: 20px 45px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.logo {

    width: 120px;

}

.copyright {

    color: #F5F5F5;
    font-size: 12px;
    font-weight: 300;

}

.design {

    color: #F5F5F5;
    font-size: 10px;
    font-weight: 300;

}

.footer--nav {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;

}

.footer--link {

    color: #F5F5F5;
    font-size: 12px;
    text-decoration: none;

}

.footer--link:hover {

    text-decoration: underline;

}

.footer--link:active {

    font-weight: 600;

}

.hero {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.hero--content {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hero--title {

    color: #27A127;
    font-size: 23px;
    font-weight: 600;

}

.hero--text {

    color: #222222;
    font-size: 16px;
    font-weight: 400;

}

.btn--2 {

    max-width: fit-content;
    padding: 8px 15px;
    background-color: #F5F5F5;
    border: 1px solid #27A127;
    border-radius: 50px;
    color: #27A127;
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
    cursor: pointer;

}

.btn--2:hover {

    background-color: #27A127;
    color: #F5F5F5;

}

.btn--2:active {

    background-color: #155815;
    border: 1px solid #155815;
    color: #F5F5F5;

}

.image {

    width: 100%;

}

.sections {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.section--title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.title {

    color: #222222;
    font-size: 23px;
    font-weight: 700;

}

.stroke {

    width: 60%;
    border-bottom: 2px solid #155815;

}

.subtitle {

    color: #155815;
    font-size: 18px;
    font-weight: 600;

}

.content {

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.desc {

    color: #222222;
    font-size: 15px;

}

.specs {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.specs--box {

    padding: 15px 30px;
    background-color: white;
    border: none;
    border-radius: 20px;

}

.spec--title {

    color: #222222;
    font-family: 15px;
    font-weight: 500;
    margin-bottom: 15px;

}

.text {

    color: #222222;
    font-size: 14px;

}

.features {

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.tab--buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.btn--active {

    background-color: #27A127;
    color: #F5F5F5;

}

.tab {

    display: none;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 20px;

}

.tab--active {

    display: block;

}

.testimonials {

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.test--content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.icon {

    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}

.client {

    display: none;
    padding: 0px 25px;

}

.client--active {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.dots {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.dot {

    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 50px;

}

.dot--active {

    background-color: #27A127;

}

.contact {

    display: flex;
    flex-direction: column;
    gap: 40px;

}

.form {

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.form--el {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form--label {

    color: #222222;
    font-size: 15px;
    font-weight: 500;

}

.input {

    padding: 6px 14px;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #222222;
    font-size: 12px;

}

.input:hover {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.input:focus {

    box-shadow: none;
    border: 2px solid #27A127;

}