@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {

    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    font-family: "Comfortaa", sans-serif;
    overflow-x: hidden;

}

.header {

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5F5F5;
    padding: 15px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.header--sticky {

    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    animation: slideDown 0.45s ease;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);

}

@keyframes slideDown {

    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

.logo {

    width: 190px;
    height: 80px;

}

.navigation {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.nav--links {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;

}

.link--item {

    color: #222222;
    font-size: 18px;
    text-decoration: none;

}

.link--item:hover {

    color: #27A127;

}

.link--item:active {

    color: #155815;

}

.btn {

    padding: 10px 24px;
    background-color: #27A127;
    border: 2px solid #27A127;;
    border-radius: 50px;
    color: #F5F5F5;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    cursor: pointer;

}

.btn:hover {

    box-shadow: 0px 0px 25px rgba(39, 161, 39, 0.8);

}

.btn:active {

    box-shadow: none;
    background-color: #155815;
    border: 2px solid #155815;

}

.footer {

    padding: 60px 250px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.logo--footer {

    width: 190px;
    height: 80px;
    margin-bottom: 35px;

}

.copyright {

    color: #F5F5F5;
    font-size: 16px;
    margin-bottom: 15px;

}

.creation {

    color: #F5F5F5;
    font-size: 12px;
    font-weight: 300;

}

.footer--links {

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.flink {

    color: #F5F5F5;
    font-size: 20px;
    text-decoration: none;

}

.flink:hover {

    text-decoration: underline;

}

.flink:active {

    font-weight: 800;
    text-decoration: none;

}

main {

    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 200px;

}

.hero {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 60px;

}

.text--1 {

    color: #27A127;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;

}

.text--2 {

    color: #222222;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 60px;

}

.btn--2 {

    padding: 10px 24px;
    background-color: #F5F5F5;
    border: 2px solid #27A127;
    border-radius: 50px;
    color: #27A127;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    cursor: pointer;

}

.btn--2:hover {

    background-color: #27A127;
    color: #F5F5F5;

}

.btn--2:active {

    background-color: #155815;
    border: 2px solid #155815;

}

.sections {

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 80px;

}

.title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.label {

    color: #222222;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;

}

.stroke {

    width: 300px;
    border: 2px solid #155815;

}

.des {

    color: #155815;
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;

}

.content {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;

}

.content-text {

    width: 65%;
    color: #222222;
    font-size: 23px;

}

.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 60px;

}

.card--item {

    padding: 25px 50px;
    background-color: white;
    border: none;
    border-radius: 25px;

}

.name {

    color: #222222;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 35px;

}

.text {

    color: #222222;
    font-size: 20px;

}

.tab--buttons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;

}

.btn--active {

    background-color: #27A127;
    color: #F5F5F5;

}

.tab {

    display: none;
    width: 800px;
    padding: 40px 60px;
    margin-top: -40px;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}

.tab--active {

    display: block;

}

.contact {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 45px;

}

.contact--form {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.form--content {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.label--form {

    color: #222222;
    font-size: 18px;
    font-weight: 300;

}

.input {

    padding: 12px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;

}

.input:hover {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.input:focus {

    box-shadow: none;
    border: 2px solid #27A127;

}

.slider--content {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 40px;

}

.icon {

    width: 25px;
    height: 25px;
    cursor: pointer;

}

.slider {

    display: none;
    width: 700px;
    padding: 10px 60px;
    background-color: none;
    border: none;

}

.slider--active {

    display: block;

}

.client {

    color: #222222;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;

}

.client--text {

    color: #222222;
    font-size: 18px;

}

.slider--btn {

    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.dots {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;

}

.dot {

    width: 15px;
    height: 15px;
    background-color: white;
    border: none;
    border-radius: 50px;

}

.dot--active {

    background-color: #27A127;

}

.faq {

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 25px;

}

.faq--item {

    width: 700px;
    padding: 20px 40px;
    background-color: white;
    border: none;
    border-radius: 25px;

}

.block {

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;

}

.dropdown {

    transform: rotate(180deg);

}

.faq--question {

    color: #222222;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}

.faq--answer {

    display: none;
    margin-top: 20px;
    color: #222222;
    font-size: 18px;
    font-weight: 400;

}

.faq--active .faq--answer {

    display: block;

}

.faq--active .dropdown {

    transform: none;
    transition: all 0.35s;

}

.faq--active .faq--question {

    color: #27A127;

}